body, html {
    width: 100%;
    height: 100%;
    margin:0;
    overflow-x: hidden;
}

#map {
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
}


.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
    position: relative;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }

  .sidebar ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #2470dc;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
  }

  .sidebar :hover::after{
    width: 100%;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
body, html {
    width: 100%;
    height: 100%;
}
#header {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255); 
    background-image: url('https://vastphotos.com/files/uploads/photos/10920/high-resolution-toronto-skyline-l.jpg?v=20220712073521');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding-left:0;
    padding-right:0;
}

#header h1 {
    margin-bottom: 100px; 
    color: whitesmoke;
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 10px; 
    color: rgb(223, 39, 39);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header h1 span:hover {
    text-decoration: underline !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right:0 !important;
}

.row {
    display: flex;
    padding-right: 0 !important;
    padding-left:0 !important;

}
#crimeChart {
    width: 100%; 
    height: 1000px; 
}

#stacked-bar-chart {
    width: 100%; 
    height: 750px; 
}
#interactive-bar {
    width: 100%; 
    height: 750px; 
}
#crimeLineChart {
    width: 100%; 
    height: 1000px; 
}
.col-md-10 {
    padding-right: 0 !important;
    padding-left:15px !important;
    justify-content: center;
}

#map {
    height: 100vh;
    max-width: 98%;
    margin-bottom: 30px;
}

#slideshow iframe{
    width:100%;
    height:100%;

    justify-content: center;
}
#slideshow{
    height:80vh;
}

#slideshow h1 {
    text-align: center;
}

.chart-container {
    border: 2px solid #000000; 
    padding-left: 10px; 
    padding-right:10px;
    margin-bottom: 40px;
    margin-top: 0px;
    height: 60vh;
    width: 40vw;
    justify-content: center; 
    align-items: center; 
    display: flex;

}

.chart-container h1{
    text-align: center;
}
.dropdown {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}


#crimeChart { 
    height: 500px;
    max-width: 100%;
} 

#crimeLineChart {
    max-width: 100%;

}

.nav-item1{
    font-size: 20px;
}

.nav-item2{
    font-size: 20px;
}

.nav-item3{
    font-size: 20px;
}

.nav-item4{
    font-size: 20px;
}
.col-md-10 {
    padding-left: 5px;
}